@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/veneer-2");
@import url("https://fonts.googleapis.com/css?family=Mulish");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, "Mulish", sans-serif, "Venner", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main {
  width: 100%;
}

body {
  min-height: 100vh;
  background: #0b0b0b;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  align-items: center;
  margin: 48px 200px;
  margin-bottom: 100px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Veneer", sans-serif;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
  background: var(--PM3, linear-gradient(90deg, #0df128 0%, #9aeb5f 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar a {
  color: #fff;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s;
  gap: 54px;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar button {
  border: none;
  border-radius: 60px;
  background: var(--PM3, linear-gradient(90deg, #0df128 0%, #9aeb5f 100%));
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #262626;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-left: 40px;
}

.first-container {
  display: flex;
  align-items: center;
  margin: 0px 200px;
  position: relative;
  justify-content: space-between;
  margin-bottom: 100px;
}

.first-container .first-image {
  width: 464px;
  height: 491px;
  flex-shrink: 0;
  margin-left: 400px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.first-text {
  color: #fff;
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.one {
  position: absolute;
  top: 120px;
  left: 400px;
  display: flex;
  gap: 7px;
}

.two {
  position: absolute;
  top: 175px;
  left: 620px;
  display: flex;
  gap: 7px;
}

.three {
  position: absolute;
  top: 320px;
  left: 600px;
  display: flex;
  gap: 7px;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 200px;
  margin-top: 128px;
  position: relative;
  background: rgba(255, 255, 255, 0.01);
}

.Back-ground {
  background-image: url("Circle.svg");
  background-size: cover;
  width: 530px;
  height: 530px;
  position: absolute;
  bottom: 0px;
  left: 200px;
}

.bg-thread {
  background-image: url(bg-thread.png);
  background-size: cover;
  width: 540px;
  height: 411px;
  position: absolute;
  bottom: 97px;
  left: 200px;
  z-index: -1;
  transform: rotate(348deg);
}

.second-container img {
  display: block;
  width: 531px;
  /* margin-top: 80px;
  margin-right: 80px;
  margin-left: -40px; */
  height: 348px;
  flex-shrink: 0;
}

.second-text {
  color: #fff;
  font-size: 20px;
  margin-left: 200px;
  margin-right: 10px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.third-container {
  margin-top: 128px;
}

.third-card-container {
  display: flex;
  margin: 0 200px;
  justify-content: space-between;
  color: rgb(245, 245, 245);
}

.third-card {
  padding: 30px;
  margin: 30px;
  text-align: center;
  border-radius: 11px;
  height: 286px;
  width: 360px;
  font-size: 10px;
  color: white;
  flex-shrink: 0;
  background: #141414;
}

.third-text-above-cards {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.card-image {
  align-items: center;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.bullet-container1 {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  border: 3px solid;
  border-width: 30px;
  font-family: "Mulish" sans-serif;
  font-weight: 400;
  line-height: 32px;
}

.fourth-container {
  padding: 0 0;
  margin-top: 128px;
}

.fourth-container ::before {
  content: "";
  position: absolute;
}

.left-column1 {
  margin-right: 30px;
}

.right-column1 {
  margin-right: 10px;
}

.disc {
  list-style-type: disc;
  color: white;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.title p {
  color: white;
  font-size: 0.8em;
}

.checkpoint {
  max-width: 25em;
  position: relative;
  color: white;
  padding: 1.5em;
  /*width: 464px;*/
  width: 580px;
}

.checkpoint-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  /* border: 1px solid rgba(33, 231, 134, 0.13); */
  border-radius: 8px;
  margin-right: 10px;
  /* background: rgba(255, 255, 255, 0.05); */
  /* width: 4640px; */
}

.checkpoint-1:nth-child(even) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  /* border: 1px solid rgba(33, 231, 134, 0.13); */
  border-radius: 8px;
  margin-right: 20px;
}

.right-image {
  position: absolute;
  right: -16px;
  /* bottom: 0.5rem; */
  height: 270px;
}

.left-image {
  position: absolute;
  /* left: 0.5rem; */
  bottom: -2rem;
  padding-left: 0.5rem;
  height: 270px;
  left: 10px;
}

.bullet-container1 {
  border: none;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.checkpoint:nth-child(even) {
  padding-left: 1em;
  transform: translateX(17em);
  /* border: 2px solid ; */
  /* border-width: 5px;*/
  width: 464px;
  height: 210px;
  flex-shrink: 0;
  /* border-left: 3px solid #888; */
}

.checkpoint:nth-child(odd) {
  /* border-left: 3px solid #888; */
  padding-left: 1em;

  transform: translateX(-17em);
}

.fifth-container {
  display: flex;
  align-items: center;
  margin-top: 180px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(22, 83, 25, 0.7) -0.62%,
    rgba(24, 18, 29, 0) 99.89%
  );
  height: 364px;
  padding: 0 200px;
}

.fifth-text {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  /* font-weight: 700;
    line-height: 56px;
    font-style: normal; */
}

/* Add this CSS code to your existing CSS */

.timeline {
  margin: 48px auto;
  max-width: 30em;
  position: relative;
}

/* Styling the timeline line */
.timeline::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 45%;
  width: 5px;
  height: 82%;
  background-color: green;
  /* background: linear-gradient(90deg, rgba(13, 241, 40, 0.80) 0%, rgba(154, 235, 95, 0.80) 100%); */
  margin-top: 20px;
  transform: translateX(-50%);
  z-index: 0;
}

/* Styling the disc-shaped nodes */
.checkpoint::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Positioning the nodes and horizontal lines for odd and even checkpoints */
.checkpoint:nth-child(odd)::before {
  left: 122%;
}

.checkpoint:nth-child(even)::before {
  /* right: 97%; 
    border-radius: 50px;
    border-color: rgb(0, 75, 5) rgb(10, 181, 8) rgb(16, 97, 25) rgb(245, 245, 245)  */
  left: -14%;
}

.checkpoint:nth-child(odd)::after,
.checkpoint:nth-child(even)::after {
  content: "";
  position: absolute;
  width: 16%;
  height: 5px;
  /* background-color: greenyellow;  */
  /* background-image: url('Line.png'); */
  top: 50%;
  transform: translate(-50%, -50%);

  transform: translateY(-50%);
  z-index: -1;
}

.checkpoint:nth-child(odd)::after {
  left: 415px;
  background-image: url("Line2.png");
}

.checkpoint:nth-child(even)::after {
  right: 384px;
  background-image: url("Line.png");
}

.checkpoint-2 {
  margin-left: 26px;
  width: 580px;
  /* background: rgba(255, 255, 255, 0.05); */
}

.right-checkpoint {
  display: flex;
  align-items: center;
}

/* Style the bullet points */
.title {
  text-align: center;
  margin-top: 20px;
}

.title p {
  font-size: 0.8em;
}

.container {
  text-align: center;
  align-items: center;
}

/* Style for the copyright notice */
.copyright {
  flex-basis: 100%;
  /* Make it span the full width */
  text-align: center;
  padding: 10px 0;
  color: #171717;
  /* You can adjust the color as needed */
}

.discord-icon::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background-color: black;
  border-radius: 50%;
}

.bi-discord {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.test-1 {
  position: relative;
  margin-left: -300px;
}

.test-2 {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 478px;
  height: 75px;
  border-radius: 66px;
}

.test-5 {
  background-image: linear-gradient(
    to bottom,
    #a6f60b,
    lightgreen,
    rgb(50, 46, 46)
  );
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 296px;

  width: 370px;
  margin: 20px;
}

.color-grad {
  width: 356px;
  height: 356px;
  flex-shrink: 0;
  background-size: cover;
  position: absolute;
  /* background-image: url('Ellipse.svg'); */
  border-radius: 356px;
  background: rgba(87, 42, 132, 0.5);
  filter: blur(100px);
  margin-top: 0px;
  left: 40%;
}

.gradient-background {
  background: linear-gradient(to bottom, #000000, #ffffff);

  background-position: top;
}

.color-green {
  width: 440px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 540px;
  margin-left: -200px;
  background: rgba(54, 186, 43, 0.2);
  filter: blur(195px);
  position: absolute;
  right: -10%;
  top: 10%;
}

.color-green-1 {
  width: 440px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 540px;
  margin-left: -200px;
  background: rgba(54, 186, 43, 0.2);
  filter: blur(195px);
  margin-top: 30px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.first-color {
  width: 540px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 540px;
  background: rgba(15, 126, 19, 0.24);
  filter: blur(195px);
  top: -153px;
  left: -199px;
}

.test-7 {
  font-size: 40px;
}

footer {
  margin: 0 200px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-family: "Veneer", sans-serif;
  font-size: 40px;
  background: var(--PM3, linear-gradient(90deg, #0df128 0%, #9aeb5f 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-container-btn {
  color: #262626;
  font-family: "Mulish" sans-serif;
  font-size: 20px;
  background: var(--PM3, linear-gradient(90deg, #0df128 0%, #9aeb5f 100%));
  padding: 16px 32px;
  border: none;
  font-weight: 400;
  border-radius: 30px;
  height: 56px;
}

.socials {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.socials img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.fifth-container img {
  width: 523px;
  height: 360px;
  flex-shrink: 0;
}

.join-btn {
  text-decoration: none;
  display: inline;
  color: black;
  cursor: pointer;
}

.join-btn button:hover {
  cursor: pointer;
}

.nav-join-link {
  margin-left: 0 !important;
  color: black !important;
}
