@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/veneer-2");
@import url("https://fonts.googleapis.com/css?family=Mulish");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, "Mulish", sans-serif, "Venner", sans-serif;
}

.main {
  width: 100%;
}

body {
  min-height: 100vh;
  background: black;

  /* background-size: cover;
    background-position: center;
    background: url(Green.png); */
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "Mulish", sans-serif;
  align-items: center;
  /* Change the marign as required */
  margin: 10px 200px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Veneer", sans-serif;
  font-size: 40px;
  font-weight: 400;

  background: var(--PM3, linear-gradient(90deg, #0df128 0%, #9aeb5f 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar a {
  color: #fff;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.3s;
  gap: 54px;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar button {
  border: none;
  border-radius: 60px;
  background: var(--PM3, linear-gradient(90deg, #0df128 0%, #9aeb5f 100%));
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #262626;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-left: 40px;
}

.first-container {
  display: flex;
  align-items: center;
  margin: 0px 200px;
  position: relative;
  justify-content: space-between;
  margin-bottom: 100px;
}

.first-container .first-image {
  width: 480px;
  height: 500px;
  flex-shrink: 0;
  margin-left: 400px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.first-text {
  color: #fff;
  font-size: 30px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.one {
  position: absolute;
  top: 120px;
  left: 400px;
  display: flex;
  gap: 7px;
}

.two {
  position: absolute;
  top: 175px;
  left: 620px;
  display: flex;
  gap: 7px;
}

.three {
  position: absolute;
  top: 320px;
  left: 600px;
  display: flex;
  gap: 7px;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
  position: relative;
}

.Back-ground {
  background-image: url("Circle.svg");
  background-size: cover;
  width: 400px;
  height: 400px;
  position: relative;
}

.second-container img {
  display: block;
  width: 452.234px;
  margin-top: 80px;
  margin-right: 80px;
  margin-left: -40px;
  height: 203.444px;
  flex-shrink: 0;
}

.second-text {
  color: #fff;
  font-size: 20px;
  margin-left: 200px;
  margin-right: 10px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.third-card-container {
  display: flex;
  margin: 0 200px;
  justify-content: space-between;
  color: rgb(245, 245, 245);
}

.third-card {
  padding: 30px;
  margin: 30px;
  text-align: center;
  border-radius: 11px;
  height: 286px;
  width: 360px;
  font-size: 10px;
  color: white;
  flex-shrink: 0;
  background: #141414;
}

.third-text-above-cards {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 120px;
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.card-image {
  align-items: center;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.bullet-container1 {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  border: 3px solid;
  border-width: 30px;
  font-family: "Mulish" sans-serif;
  font-weight: 400;
  line-height: 32px;
}

.fourth-container {
  background-color: black;
  padding: 20px 0;
}

.fourth-container ::before {
  content: "";
  position: absolute;
}

.left-column1 {
  margin-right: 30px;
}

.right-column1 {
  margin-right: 10px;
}

.disc {
  list-style-type: disc;
  color: white;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.title p {
  color: white;
  font-size: 0.8em;
}

.checkpoint {
  max-width: 25em;
  position: relative;
  color: white;
  padding: 1.5em;
  /*width: 464px;*/
  width: 580px;
}

/* .checkpoint {
    max-width: 25em;
    margin-top: 10px;
    position: relative;
    color: white;
    border-image: 1000px;
    padding: 1.5em;
  } */

.checkpoint-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  border: 1px solid rgba(33, 231, 134, 0.13);
  border-radius: 8px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.05);
}

.checkpoint-1:nth-child(even) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  border: 1px solid rgba(33, 231, 134, 0.13);
  border-radius: 8px;
  margin-right: 20px;
}



.right-image {
  position: absolute;
  right: -20px;
  /* bottom: 0.5rem; */
  height: 270px;
}

.left-image {
  position: absolute;
  /* left: 0.5rem; */
  bottom: -2rem;
  padding-left: 0.5rem;
  height: 270px;
}

.bullet-container1 {
  border: none;
  font-size: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.checkpoint:nth-child(even) {
 
  padding-left: 1em;
  transform: translateX(17em);
  /* border: 2px solid ; */
  /* border-width: 5px;*/
  width: 464px;
  height: 210px;
  flex-shrink: 0;
  /* border-left: 3px solid #888; */
}

.checkpoint:nth-child(odd) {
  /* border-left: 3px solid #888; */
  padding-left: 1em;

  transform: translateX(-17em);
}

.fifth-container {
  display: flex;
  align-items: center;
  margin-top: 180px;
  color: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, rgb(0, 75, 5), rgb(1, 11, 3), rgb(0, 0, 0)); */
  background: linear-gradient(90deg,
      rgba(22, 83, 25, 0.7) -0.62%,
      rgba(24, 18, 29, 0) 99.89%);
  width: 1440px;
  height: 364px;
}

.fifth-container img {
  width: 400px;
  margin-left: 250px;
  margin-bottom: 90px;
}

.fifth-text {
  margin-left: 150px;
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  /* font-weight: 700;
    line-height: 56px;
    font-style: normal; */
}

/* Add this CSS code to your existing CSS */

.timeline {
  margin: 4em auto;
  max-width: 30em;
  position: relative;
}

/* Styling the timeline line */
.timeline::before {
  content: "";
  position: absolute;
  top: 10%;

  left: 45%;
  width: 5px;
  height: 77%;
  background-color: green;
  /* background: linear-gradient(90deg, rgba(13, 241, 40, 0.80) 0%, rgba(154, 235, 95, 0.80) 100%); */
  margin-top: 20px;
  transform: translateX(-50%);
  z-index: 0;
}

/* Styling the disc-shaped nodes */
.checkpoint::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Positioning the nodes and horizontal lines for odd and even checkpoints */
.checkpoint:nth-child(odd)::before {
  left: 122%;
}

.checkpoint:nth-child(even)::before {
  /* right: 97%; 
    border-radius: 50px;
    border-color: rgb(0, 75, 5) rgb(10, 181, 8) rgb(16, 97, 25) rgb(245, 245, 245)  */
  left: -14%;
}

.checkpoint:nth-child(odd)::after,
.checkpoint:nth-child(even)::after {
  content: "";
  position: absolute;
  width: 16%;
  height: 5px;
  /* background-color: greenyellow;  */
  /* background-image: url('Line.png'); */
  top: 50%;
  transform: translate(-50%, -50%);

  transform: translateY(-50%);
  z-index: -1;
}

.checkpoint:nth-child(odd)::after {
  left: 415px;
  background-image: url("Line2.png");
}

.checkpoint:nth-child(even)::after {
  right: 384px;
  background-image: url("Line.png");
}

.checkpoint-2 {
  margin-left: 26px;
  width: 580px;
  background: rgba(255, 255, 255, 0.05);

}

.right-checkpoint {
  display: flex;
  align-items: center;
}

/* Style the bullet points */
.title {
  text-align: center;
  margin-top: 20px;
}

.title p {
  font-size: 0.8em;
}

.container {
  text-align: center;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  margin-left: 37%;
  margin-top: 1%;
}

.social-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.social-item a {
  text-decoration: none;
  background: #282828;
  border-radius: 50%;
  display: block;
  padding: 13px;
  opacity: 1;
  color: rgb(0, 0, 0);
}

.social-item i {
  margin-bottom: 10px;
  margin-top: 3px;
}

.social-item p {
  font-size: 10px;
  color: white;
}

/* Style for the copyright notice */
.copyright {
  flex-basis: 100%;
  /* Make it span the full width */
  text-align: center;
  padding: 10px 0;
  color: #171717;
  /* You can adjust the color as needed */
}

.discord-icon::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background-color: black;
  border-radius: 50%;
}

.bi-discord {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.test-1 {
  position: relative;
  margin-left: -300px;
}

.test-2 {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 478px;
  height: 75px;
  border-radius: 66px;
}

.test-3 {
  /* margin-left: 220px;
    margin-right: 100px; */
}

.test-5 {
  background-image: linear-gradient(to bottom,
      #a6f60b,
      lightgreen,
      rgb(50, 46, 46));
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 296px;
  width: 370px;
  margin: 20px;
}

/* .test-6{
    background-image: linear-gradient(to bottom ,white, lightgreen, rgb(50, 46, 46));
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 20px;
    height: 100%;
} */

.color-grad {
  width: 356px;
  height: 356px;
  flex-shrink: 0;
  background-size: cover;
  position: absolute;
  /* background-image: url('Ellipse.svg'); */
  border-radius: 356px;
  background: rgba(87, 42, 132, 0.5);
  filter: blur(100px);
  margin-top: 0px;
  left: 40%;
}

.gradient-background {
  background: linear-gradient(to bottom,
      #000000,
      #ffffff);
  /* Replace with your desired colors */
  background-position: top;
}

.color-green {
  width: 440px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 540px;
  margin-left: -200px;
  background: rgba(54, 186, 43, 0.2);
  filter: blur(195px);
  position: absolute;
  right: -10%;
  top: 10%;
}

.color-green-1 {
  width: 440px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 540px;
  margin-left: -200px;
  background: rgba(54, 186, 43, 0.2);
  filter: blur(195px);
  margin-top: 30px;
  position: absolute;
  top: 1px;
  left: 1px;
}

.first-color {
  width: 540px;
  height: 540px;
  flex-shrink: 0;
  border-radius: 540px;
  background: rgba(15, 126, 19, 0.24);
  filter: blur(195px);
  top: -153px;
  left: -199px;
}

.test-7 {
  font-size: 40px;
}

/* .Back-ground {
    width: 427px;
    height: 427px;
    flex-shrink: 0;
    border-radius: 427px;
    background:linear-gradient(90deg, #0DF128 0%, #9AEB5F 100% );
    
} */